body {
  margin:0;
}
a {
  color:black;
  text-decoration: none;
  text-align: center;
  }
 h1 {
   font-wight: bold;
   font-size: 45px;
   text-align: center;
   border-bottom: black 5px solid;
   margin:0;
   padding: 20px;
    }
  ul {
    display: inline-grid;
  }
  ol {
   border-right:5px solid black;
   width: 100px;
   margin:0;
   padding: 20px;
     }
 #article{
   padding-left: 25px;
 }
 #grid{
   display: grid;
   grid-template-columns: 150px 1fr;
 }
#grid ol{
   padding-left: 33px;
   }
   @media(max-width:600px) {
     #grid{
       display: block;
          }
        ol {
         border-right:none;
           }
